@model  MovieEditViewModel
@using  IMDB_WebApp.Models


@using (Html.BeginForm("EditMovie","Movie",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class="control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "text", required = "required" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProducerId, "ProducerId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProducerId", (SelectList)ViewBag.ProducerId, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Actors)
    </div>
    <div class="form-group">
        <img src="@Url.Content(Model.Photo)" alt="There is no image for this Movie" width="250" height="250" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="ImageFile" accept="image/x-png,image/gif,image/jpeg"/>
        </div>
    </div>
<p>
    <input type = "Submit" value = "SaveChanges" />
</p>

}
